/ {
    chosen {
        zephyr,display = &ssd1306;
    };

    aliases {
        led0 = &led0;
        sw0 = &button1;
        sw1 = &button2;
        sw2 = &button4;
    };

    // NOTE: this may not be the best way to offset the gain
    mic {
        compatible = "voltage-divider";
        io-channels = <&adc 5>;
        output-ohms = <10000>;
        full-ohms = <(10000 + 52200)>;
    };

    leds {
        compatible = "gpio-leds";

        led0: led_red {
            gpios = <&sx1508b 7 GPIO_ACTIVE_LOW>;
            label = "led-red";
        };

        led1: led_green {
            gpios = <&sx1508b 3 GPIO_ACTIVE_LOW>;
            label = "led-green";
        };
    };

    buttons {
        compatible = "gpio-keys";

        button1: button_1 {
            gpios = <&sx1508b 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "button-1";
        };
        
        button2: button_2 {
            gpios = <&sx1508b 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "button-2";
        };
        
        button4: button_4 {
            gpios = <&sx1508b 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "button-4";
        };
    };

    daughter_pwr_ctrl: daughter-vdd-pwr-ctrl {
        compatible = "regulator-fixed";
        regulator-name = "daughter-pwr-ctrl";
        enable-gpios = <&sx1508b 4 GPIO_ACTIVE_HIGH>;
        regulator-boot-on;
    };
};

&adc {
    status = "okay";
};

&shieldi2c {
    status = "okay";
    zephyr,concat-buf-size = <2048>;

    sx1508b: sx1508b@20 {
        compatible = "semtech,sx1508b";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <8>;
        nint-gpios = <&environ_tracker_header 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        /* Init all outputs to high except for red led */
        init-out-high = <0xfe>;
        init-out-low = <0x00>;
    };

    bme680: bme680@76 {
        compatible = "bosch,bme680";
        reg = <0x76>;
        vin-supply = <&daughter_pwr_ctrl>;
    };

    lsm6dso: lsm6dso@6a {
        compatible = "st,lsm6dso";
        reg = <0x6a>;
        accel-pm = <1>;
        accel-range = <0>;
        accel-odr = <3>;
        gyro-pm = <1>;
        gyro-range = <0>;
        gyro-odr = <3>;
        irq-gpios = <&sx1508b 0 GPIO_ACTIVE_HIGH>;
    };
    
    lis3mdl: lis3mdl@1c {
        compatible = "st,lis3mdl-magn";
        reg = <0x1c>;
    };

    si1132: si1132@60 {
        compatible = "silabs,si1132";
        reg = <0x60>;
        vin-supply = <&daughter_pwr_ctrl>;
    };

    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        vin-supply = <&daughter_pwr_ctrl>;
        height = <64>;
        width = <128>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
        segment-remap;
        com-invdir;
        reset-gpios = <&sx1508b 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
    };
};
