&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 12)>,
				<NRF_PSEL(TWIM_SCL, 1, 9)>;
			bias-pull-up;
		};
	};

    // i2c0_sleep: i2c0_sleep {
	// 	group1 {
	// 		psels = <NRF_PSEL(TWIM_SDA, 0, 12)>,
	// 			<NRF_PSEL(TWIM_SCL, 1, 9)>;
	// 		low-power-enable;
	// 	};
	// };
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
    pinctrl-0 = <&i2c0_default>;
	// pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
    bme680@77 {
		compatible = "bosch,bme680";
		reg = <0x77>;
		label = "BME680";
	};
};