/ {
    aliases {
        led0 = &led0;
        sw0 = &button0;
    };

    /* NOTE unsure */
    // mic {
    //     compatible = "voltage-divider";
    //     io-channels = <&adc 0>;
    //     output-ohms = <>;
    //     full-ohms = <()>;
    // };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
             gpios = <&sx1502 3 GPIO_ACTIVE_HIGH>;
            label = "led0";
        };
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&sx1502 2 GPIO_ACTIVE_LOW>;
            label = "Button0";
        };
        button1: button_1 {
            gpios = <&sx1502 1 GPIO_ACTIVE_LOW>;
            label = "Button1";
        };
        button2: button_2 {
            gpios = <&sx1502 6 GPIO_ACTIVE_LOW>;
            label = "Button2";
        };
        button3: button_3 {
            gpios = <&sx1502 5 GPIO_ACTIVE_LOW>;
            label = "Button3";
        };
    };
};

&adc {
    status = "okay";
};

&shieldi2c {
    status = "okay";

    sx1502: sx1502@20 {
        compatible = "semtech,sx1502";
        reg = <0x20>;
        label = "GPIO_P0";
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <8>;
        nint-gpios = <&environ_tracker_header 1 GPIO_ACTIVE_LOW>;
        /* Setup init states */
        init-out-high = <0xff>;
        init-out-low = <0x00>;
    };

    bme680: bme680@76 {
        compatible = "bosch,bme680";
        reg = <0x76>;
        label = "BME680";
    };

    lsm6dso: lsm6dso@6a {
        compatible = "st,lsm6dso";
        reg = <0x6a>;
        label = "LSM6DSO";
        irq-gpios = <&sx1502 0 GPIO_ACTIVE_LOW>;
    };

    si1132: si1132@60 {
        compatible = "silabs,si1132";
        reg = <0x60>;
        label = "Si1132";
        nint-gpios = <&sx1502 4 GPIO_ACTIVE_LOW>;
    };

    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "SSD1306";
        height = <32>;
        width = <128>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        prechargep = <0xd1>;
        segment-remap;
        com-invdir;
        com-sequential;
        reset-gpios = <&sx1502 7 GPIO_ACTIVE_LOW>;
    };
};
